body {
  height: 100vh;
  display: grid;
  place-items: center;
}
div {
  padding: .5rem 1rem;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  border: 1px solid grey;
  border-radius: 1.5rem;
}
img {
  width: 2rem;
}
button {
  border: none;
  background-color: transparent;
  /* border: 1px solid; */
  height: 100%;
}
div:hover, button:hover{
  cursor: pointer;
  background-color: rgb(172, 168, 168);
}
