body{
    display: grid;
    place-items: center;
    height: 100vh;
}
div{
    display: flex;
    flex-direction: column;
    /* gap: 1rem; */
}
input, #signUp{
    border: 2px solid;
    padding: .5rem;
}
#signUp{
    background-color: rgb(156, 133, 133);
    cursor: pointer;
}

